.page {
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
  font-style: normal;

  &__dot-light {
    position: absolute;

    &_ellipse {
      top: 400px;
      left: -600px;
      width: 1302px;
      height: 226px;
      transform: rotate(34.311deg);
      background: linear-gradient(180deg, #FFF 33.64%, rgba(255, 255, 255, 0.00) 15.45%);
      opacity: 0.55;
      filter: blur(150px);
    }

    &_circle {
      width: 574px;
      aspect-ratio: 1/1;
      right: -160px;
      bottom: 5px;
      border-radius: 574px;
      opacity: 0.7;
      background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
      filter: blur(325px);
    }
  }
}
