@import 'src/vendor/fonts/fonts.css';
@import 'src/blocks/_button/_button.css';
@import 'src/blocks/_link/_link.css';
@import 'src/blocks/body/body.css';
@import 'src/blocks/page/page.css';
@import 'src/blocks/header/header.css';
@import 'src/blocks/nav-menu/nav-menu.css';
@import 'src/blocks/content/content.css';
@import 'src/blocks/banner/banner.css';
@import 'src/blocks/promo/promo.css';
@import 'src/blocks/blog/blog.css';
@import 'src/blocks/post/post.css';
@import 'src/blocks/footer/footer.css';
html {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
