.body {
  min-height: 100%;
  overflow: hidden;
  scrollbar-gutter: stable;
  background-color: #110A1D;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #fff;
}

@media (max-width: 1640px) {
  .body {
    overflow: hidden;
  }
}
