.footer {
  padding: 0 135px 5px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 127px;
  border-radius: 64px 64px 0 0;
  border: 4px solid #478BF9;
  border-bottom: none;
  background: #1E1231;
  z-index: 0;

  &__info {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    gap: 41px;
    width: fit-content;
    list-style: none;
  }

  &__media-title {
    margin: 0;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFF;
  }

  &__media-links {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    list-style: none;
  }

  &__media-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 32px;
    aspect-ratio: 1/1;
    background: url('./../../images/icons/BG Vector.svg') center no-repeat;
    z-index: 1;

    &:hover {
      cursor: pointer;
      background-image: url('./../../images/icons/BG Vector_hover.svg');

      & .footer__media-link-icon {
        fill: #1E1231;
        transition: fill .3s;
      }
    }

    & ._link {
      height: 16px;
    }
  }

  &__media-link-icon {
    width: 16px;
    aspect-ratio: 1/1;
    fill: #110A1D;
    transition: fill .3s;
  }
}

@media (max-width: 1640px) {
  .footer {
    height: 80px;

    &__media-title {
      display: none;
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    padding: 14px 20px;
    gap: 6px;
    border-radius: 50px 50px 0 0;
    border: 2px solid var(--main-blue-478-bf-9, #478BF9);
    border-bottom: none;
    -ms-flex-align: center;
    align-items: center;

    &__info {
      gap: 15px;
      font-size: 14px;
      line-height: 20px;
    }

    &__media-title {
      margin-bottom: 8px;
      text-align: start;
      font-size: 14px;
      line-height: 20px;
    }

    &__media-links {
      margin: 0;
      gap: 8px;
    }

    &__media-link {
      width: 27px;
      background-size: cover;
    }
  }
}

@media (max-width: 945px) {
  .footer {
    padding: 4px 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 6px;

    height: 233px;
    border-radius: 50px 50px 0 0;
    border: 2px solid var(--main-blue-478-bf-9, #478BF9);
    border-bottom: none;
    -ms-flex-align: start;
    align-items: flex-start;

    &__info {
      width: fit-content;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 2px;
      font-size: 14px;
      line-height: 20px;
    }

    &__media-title {
      margin-bottom: 8px;
      text-align: start;
      display: block;
      font-size: 14px;
      line-height: 20px;
    }

    &__media-links {
      margin: 0;
      gap: 8px;
    }

    &__media-link {
      width: 27px;
      background-size: cover;
    }
  }
}
