@import './vendor/fonts/fonts.css';

@import './blocks/_button/_button.css';
@import './blocks/_link/_link.css';

@import './blocks/body/body.css';
@import './blocks/page/page.css';
@import './blocks/header/header.css';
@import './blocks/nav-menu/nav-menu.css';
@import './blocks/content/content.css';
@import './blocks/banner/banner.css';
@import './blocks/promo/promo.css';
@import './blocks/blog/blog.css';
@import './blocks/post/post.css';
@import './blocks/footer/footer.css';

html {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
