@import './vendor/fonts/fonts.css';

html {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.body {

  min-height: 100%;
  scrollbar-gutter: stable;

  background-color: #110A1D;
  text-rendering: optimizeLegibility;
  color: #fff;

}

.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Lexend', sans-serif;
  font-style: normal;

  min-width: 320px;
  max-width: 1920px;
  //background: linear-gradient(180deg, #FFF 63.64%, rgba(255, 255, 255, 0.00) 95.45%);

  &__dot-light {
    position: absolute;

    &_ellipse {

      top: 400px;
      left: -600px;
      width: 1302px;
      height: 226px;
      transform: rotate(34.311deg);

      background: linear-gradient(180deg, #FFF 33.64%, rgba(255, 255, 255, 0.00) 15.45%);
      opacity: 0.55;
      filter: blur(150px);
    }

    &_circle {

      width: 574px;
      aspect-ratio: 1/1;
      right: -160px;
      bottom: 5px;

      border-radius: 574px;
      opacity: 0.7;
      background: var(--main-blue-hover, linear-gradient(256deg, #478BF9 0%, #9DADF2 100%));
      filter: blur(325px);
    }
  }

}

.header {
  padding: 0 42px;

  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  display: grid;
  grid-template-columns: 287px auto 287px;
  align-items: center;

  height: 88px;
  border-radius: 64px;
  border: 4px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);

  &_position {
    margin: 16px 140px 0 140px;
  }

  &__nav-menu {

  }

  &__buttons {
    display: flex;
    gap: 11px;
    justify-self: flex-end;
  }

  &__button {
    padding: 0 14px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

._button {
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  transition: background-color .3s;

  &:hover {
    cursor: pointer;
    background: var(--main-blue-478-bf-9, #478BF9);
    border-color: var(--main-blue-478-bf-9, #478BF9);
    transition: background-color .3s, border-color .3s;
  }
}

.nav-menu {
  justify-self: center;
  //margin: 0 auto;
  width: fit-content;

  padding: 0;
  display: flex;
  gap: 32px;
  list-style: none;

  &__link {
    color: var(--main-clean-white-ffffff, #FFF);
    font-size: 16px;

    font-weight: 400;
    line-height: 20px;

  }
}

._link {
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline transparent;

  &:hover {
    text-decoration: underline;
    color: var(--main-blue-478-bf-9, #478BF9);;
    transition: color .3s, text-decoration .3s;
  }
}

.content {

  padding: 0 133px;
  flex-grow: 1;

  display: grid;
  //grid-template-columns: 44% 30% 30%;
  grid-template-columns: 510px auto 380px;

}

.promo {

  margin-top: 296px;
  padding-left: 14px;

  width: 669px;
  height: 368px;
  z-index: 1;

  &__title {
    margin: 0 0 24px 0;
    color: var(--main-clean-white-ffffff, #FFF);

    /* Titles/H_1 */

    font-size: 96px;
    font-weight: 500;
    line-height: 96px;

    &_accent {
      color: var(--main-blue-478-bf-9, #478BF9);
      font-style: normal;

    }
  }

  &__subtitle {
    margin: 0 0 48px 0;
    color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));

    /* Titles/H_4 */

    font-size: 32px;

    font-weight: 500;
    line-height: 32px; /* 100% */
  }

  &__button {
    width: 393px;
    height: 72px;
    border-radius: 48px;
    //border: none;
    //background: var(--main-blue-478-bf-9, #478BF9);
    //color: #FFF;
    background-color: transparent;

    font-size: 24px;

    font-weight: 600;
    line-height: 32px; /* 133.333% */
    text-transform: uppercase;
    transition: opacity .3s;
    z-index: 100;

    border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
    //background: var(--main-navy-blue-110-a-1-d, #110A1D);

    //&:hover {
    //  opacity: .8;
    //  transition: opacity .3s;
    //  cursor: pointer;
    //}
  }
}

.banner {
  //position: sticky;
  //padding-left: 270px;
  justify-self: center;
  height: calc(100vh - 240px);
  width: 334px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  gap: 17px;

  //white-space: nowrap;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -500px;
    right: -500px;

    //left: 0;
    //right: 0;
    background: linear-gradient(0deg, #000 13.64%, rgba(255, 255, 255, 0.00) 95.45%);
    background-blend-mode: overlay;
    mix-blend-mode: multiply;
    z-index: -1;

  }

  &__line {

  }
}

.line {
  width: 99px;
  z-index: -1;

  &:first-child {
    opacity: .2;
  }

  &:nth-child(2) {
    opacity: .6;
  }

  &:last-child {
    opacity: .4;
  }

  & .line__tag {
    transition: all 0.5s ease;

    &_1 {
      //animation: bannermove 4s linear infinite;
    }

  }

  &__tags-container {
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &_direction {
      &_top {
        animation: 15s slide-up infinite linear;
      }

      &_down {
        animation: 15s slide-down infinite linear;
      }
    }

  }

  &__tag {

  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

//@keyframes "bannermove" {
//  0% {margin-top: 0px;}
//  100% {margin-top: 2125px;}
//}
//
//@-moz-keyframes bannermove {
//  0% {margin-top: 0px;}
//  100% {margin-left: -2125px;}
//}
//
//@-webkit-keyframes "bannermove" {
//  0% {margin-top: 0px;}
//  100% {margin-top: -1000px;}
//}
//
//@-ms-keyframes "bannermove" {
//  0% {margin-top: 0px;}
//  100% {margin-top: -2125px;}
//}
//
//@-o-keyframes "bannermove" {
//  0% {margin-top: 0px;}
//  100% {margin-top: -2125px;}
//}

.blog {
  margin-top: 140px;
  width: 531px;
  justify-self: end;

  &__title {
    margin: 0 0 24px 0;
    text-align: center;
    color: var(--main-clean-white-ffffff, #FFF);

    font-size: 40px;

    font-weight: 600;
    line-height: 40px; /* 100% */
  }

  &__posts {

    //padding: 24px;

    box-sizing: border-box;

    //width: 531px;
    height: 595px;
    border-radius: 100px;
    border: 3px solid var(--main-blue-478-bf-9, #478BF9);
    background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));

    /* Bg Blur 20% */
    backdrop-filter: blur(10px);

    white-space: nowrap;
    overflow: hidden;
  }

  //scrollbar-color: #999 #333;

  &__scroll-container {
    padding: 21px 15px 24px 22px;
    margin-right: 14px;
    height: 595px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #478BF9;
      background-clip: content-box;

    }

    &::-webkit-scrollbar-track {
      margin-top: 92px;
      margin-bottom: 148px;

      border-radius: 10px;

      background-color: #FFFFFF1F;

    }

  }

  &__post {

  }
}

.post {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;

  padding: 16px 64px;
  box-sizing: border-box;

  height: 146px;
  border-radius: 196px;
  background: var(--main-deep-blue-1-e-1231, #1E1231);
  transition: background-color .3s;

  &:hover {
    cursor: pointer;
    background-color: #478BF9;
    transition: background-color .3s;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    flex-grow: 1;
    margin: 0;

    color: var(--main-clean-white-ffffff, #FFF);

    font-size: 24px;

    font-weight: 400;
    line-height: 28px; /* 116.667% */
  }

  &__date {

    color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
    font-feature-settings: 'liga' off;

    /* Caption/Cap. Sec_1 */
    font-family: 'Futura PT', sans-serif;
    font-size: 14px;
    font-weight: 450;
    line-height: 16px;
  }
}

.footer {
  padding: 0 135px 5px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 127px;

  border-radius: 64px 64px 0 0;
  border-top: 4px solid var(--main-blue-478-bf-9, #478BF9);
  border-right: 4px solid var(--main-blue-478-bf-9, #478BF9);
  border-left: 4px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--main-deep-blue-1-e-1231, #1E1231);
  //flex-shrink: 0;

  &__info {
    padding: 0;
    display: flex;
    gap: 41px;
    width: fit-content;
    list-style: none;
  }

  &__media {

  }

  &__media-title {
    //padding: 0;
    margin: 0;

    color: var(--main-clean-white-ffffff, #FFF);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &__media-links {
    padding: 0;
    display: flex;
    gap: 8px;
    list-style: none;
  }

  &__media-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    aspect-ratio: 1/1;
    background: url('./images/icons/BG Vector.svg') center no-repeat;

    z-index: 1;

    &:hover {
      cursor: pointer;
      background-image: url('./images/icons/BG Vector_hover.svg');

      & .footer__media-link-icon {
        fill: #1E1231;
        transition: fill .3s;
      }

    }

  }

  &__media-link-icon {
    width: 16px;
    aspect-ratio: 1/1;
    fill: #110A1D;
    transition: fill .3s;
  }
}

@media (max-width: 1640px) {
  body {
    overflow: hidden;
  }

  .header {
    padding: 0 30px;
    height: 60px;

    &_position {
      margin-left: 80px;
      margin-right: 80px;
    }

    &__buttons {
      gap: 6px;
    }

    &__button {
      padding: 0 14px;
      height: 32px;
      border-radius: 24px;
      border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
      background: var(--main-navy-blue-110-a-1-d, #110A1D);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .nav-menu {
    gap: 24px;

    &__link {
      font-size: 14px;
    }
  }
  .promo {
    margin-top: 40px;

    &__title {
      font-size: 66px;
    }

    &__subtitle {
      font-size: 28px;
    }

    &__button {
      width: 300px;
      height: 68px;
      font-size: 18px;
    }
  }

  .content {

    padding: 0 80px;
    flex-grow: 1;

    display: grid;
    //grid-template-columns: 44% 30% 30%;
    grid-template-columns: 510px auto 380px;

  }

  .blog {
    margin-top: 0;

    &__title {
      font-size: 28px;
    }

    &__posts {
      position: relative;
      height: 420px;
    }

    &__scroll-container {
      height: 420px;
    }
  }

  .footer {
    height: 80px;

    &__media-title {
      display: none;
    }

  }

}

@media (max-width: 1280px) {

}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
    height: 52px;
    border: 2px solid var(--main-blue-478-bf-9, #478BF9);


    &_position {
      margin: 10px;
    }
  }

  .promo {
    padding: 0;
    margin-top: 60px;
    width: 100%;
    height: auto;
    text-align: center;

    &__title {
      margin-bottom: 12px;
      font-size: 46px;
      line-height: 50px;
    }

    &__subtitle {
      margin-bottom: 23px;
      font-size: 20px;
      line-height: 26px;
    }

    &__button {
      width: 300px;
      height: 55px;
      font-size: 18px;
    }


  }

  .content {
    padding: 0 10px;
    flex-grow: 1;
    max-height: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

  }

  .banner {
  margin-top: -270px;
    margin-bottom: -269px;

    width: 165px;
    height: 768px;
    transform: rotate(90deg);
    gap: 9px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      background-blend-mode: overlay;
      mix-blend-mode: multiply;
      z-index: -1;

    }
  }

  .blog {
    width: 100%;
    margin-bottom: 119px;


    &__title {
      margin-bottom: 18px;
      font-size: 32px;
      line-height: 40px;
    }


    &__posts {
      height: 421px;
      border-radius: 50px;
      border: 2px solid var(--main-blue-478-bf-9, #478BF9);
    }

    &__scroll-container {
      padding: 8px 6px 8px 8px;
      margin-right: 4px;
      height: 421px;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        margin-top: 58px;
        margin-bottom: 78px;
      }
    }
  }

  .post {
    border-radius: 40px;
    padding: 15px 35px;
    gap: 0;
    margin-bottom: 10px;

    height: 112px;
    &__text {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .line {
    width: 49px;

    &__tags-container {
      gap: 12px;
    }

    &__tag {
      transform: rotate(-90deg);

      &_long {
        transform: rotate(0deg);
      }
    }
  }

  .footer {
    padding: 4px 18px;
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;



    height: 233px;
    border-radius: 50px 50px 0px 0px;
    border: 2px solid var(--main-blue-478-bf-9, #478BF9);
    border-bottom: none;
    align-items: flex-start;

    &__info {
      width: fit-content;
      flex-direction: column;
      gap: 2px;
      font-size: 14px;
      line-height: 20px;
    }



    &__media-title {
      margin-bottom: 8px;
      text-align: start;
      display: block;
      font-size: 14px;
      line-height: 20px;
    }

    &__media-links {
margin: 0;
      gap: 8px;
    }

    &__media-link {

      width: 27px;
      background-size: cover;
    }
  }



}

@media (max-width: 375px) {

}








